body{

}
.visor{
max-width: 50%;
height: auto;
color:#ddd; 
border: 1px solid black;
margin:0 auto;
}
.titulo{
color:white; 
margin:0 auto;
text-align: center;   
}
#img{
    max-width: 100%;
    height: auto;
    position: center;
    display:block;
    margin:auto;
    bottom: 0%s;   
}